<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/my_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@null"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:replace="android:icon">

        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preview.PreviewActivity"
            android:exported="false" />
        <activity
            android:name=".icon_changer.MakeManipulation"
            android:exported="false" />
        <activity
            android:name=".FragmentManagement"
            android:configChanges="uiMode|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".wallpaper.ApplyWallpaper"
            android:exported="false" />
        <activity
            android:name=".wallpaper.category.WallpaperDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ringtone.RingtoneDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>
